# Python 기본

파이썬
- 2점대, 3점대
- 2점대로 서비스 운영 -> 서포트 중지
 - 인코딩
 - 함수들, 기능들 ...

- 현재 실습 환경: 3점대

In [1]:
! python --version

Python 3.10.12

# 주석

- 한 줄 주석: #
- 여러 줄 주석: ''' ''', """ """
- 에디터 단축키: ctrl, cmd + /
- 주석을 남길 때 에러 발생하지 않게 하기

In [2]:
def add(num1, num2):
  '''
  숫자 합을 구하는 함수입니다.
  '''
  return num1 + num2

print(add(1, 2))

3

In [4]:
def add2(num1, num2):
  '''
  숫자 합을 구하는 함수입니다.
  '''
  return num1 + num2

print(add2(1, 2))

3

# 변수

- 변수: 변할 수 있는 값 -> 소문자 (상수 -> 대문자로 선언)
- 상자 -> 값을 담아줄 수 있다. -> 변수를 선언한다.
- var = 1 (할당 연산자) / ==
- 변수는 값을 가리키는 것


변수 이름
- _(언더바)나 영문자로 시작해야합니다.
- 숫자로 시작할 수 없습니다.
- 특수문자(언더바 제외)는 사용할 수 없습니다.
- add num -> add_num (addNum)
- 예약어로 변수명을 사용할 수 없습니다. (for, it .. )
- 이 규칙을 지키지 않을 경우 오류가 발생하기도 합니다.

변수 선언
- 변수를 선언할 때 값을 넣어주어야 합니다.
 - 변수 선언 시, 값을 넣어주는 것 -> 자료형 자체가 지정된다.
 - 변수 = 값 -> 왼쪽에는 무조건 변수, 오른쪽에는 값, 변수, 수식, 함수 등

변수 타입
- int, float, string, bool
- type(변수명)

In [5]:
book = 'weniv'

In [6]:
type(book)

str

In [7]:
# 변수 연속 할당

var1 = var2 = var3 = var4 = 10

In [9]:
print(var1)

10

In [11]:
print(id(var1))
print(id(var2))
print(id(var3))
print(id(var4))
# 파이썬에서는 정수형(int) 중에서 자주 사용될 것 같은 값들은 미리 메모리에 올려두고
# 메모리를 효율적으로 사용하기 위해서 같은 위치를 사용합니다.

140135681966608
140135681966608
140135681966608
140135681966608

In [12]:
# 변수 연산 결과를 다시 사용하기
x1 = 10
x1 = x1 + 10

x2 = 20
x2 = x2 + x2

In [13]:
print(x1)

20

In [14]:
print(x2)

40

In [15]:
x3 = 20

In [16]:
print(id(x1))
print(id(x3))

140135681966928
140135681966928

# 자료형

## 숫자형

- int, float(, complex)
- int: 정수(10진수), 2진수, 8진수, 16진수
- float: 실수
- complex: 복소수

### int

In [18]:
int_a = 30
int_b = 0b100
int_c = 0o56
int_d = 0xAC

In [19]:
print(type(int_a))
print(type(int_b))
print(type(int_c))
print(type(int_d))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

### float

In [20]:
float_a = 3.14

In [21]:
print(type(float_a))

<class 'float'>

### complex

In [22]:
com_a = 4-4j

In [23]:
print(type(com_a))

<class 'complex'>

### 연산자

- 연산자: 산술연산자, 대입연산자(할당연산자), 비교연산자, 논리연산자, 비트연산자, 멤버연산자, 식별연산자

#### 산술연산자

- 덧셈, 뺄셈, 곱셈, 나눗셈, 제곱, 몫, 나머지

In [24]:
num1 = 25
num2 = 40

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)  # 나누기 -> 실수값으로 몫을 최대한 구한다.
print(num1 // num2) # 몫 -> 정수부분까지만
print(num1 % num2)  # 정수부분까지 몫을 구한 뒤, 그 나머지
print(num1 ** num2)

65
-15
1000
0.625
0
25

In [ ]:
# 나머지 값 활용 -> 문제 풀때 유용하게 사용할 수 있다.

# 짝수 홀수 -> 값 % 2 == 0: 짝수 / 값 % 2 != 0: 홀수
# 배수 약수 -> 값 % 5 == 0: 5의 배수

# 두 칸씩 이동

#### 비교 연산자

- ">, <, >=, <=, ==, !="
- boolean 으로 리턴

In [25]:
print(3 > 0)

True

In [26]:
print(3 < 0)

False

In [ ]:
# 비교연산자 활용

# 조건
# if 조건(true):
#   참일 때 조건 실행
# false

# a, b
# 가로, 세로 -> 가로 더 큰 경우 16:9

#### 논리연산자

- and, or, not
- boolean 기반으로 이해하기
- 값1(true) 값2(false)
- and: 그리고 -> 왼쪽값 그리고 오른쪽값 -> 왼쪽값이 true 그리고 오른쪽 값이 true: true
- or: 또는 -> 왼쪽값 또는 오른쪽값 -> 왼쪽값이 true 이거나 오른쪽 값이 ture: true

- not: 반대 -> 하나의 값을 부정 -> 값이 true false, false true

In [ ]:
# a > 0 (true or false) | b < 0 (true or false)

In [ ]:
# and
# true true: true
# true false: false
# false false: false

# if 조건1 and 조건2:
#  -> 둘 다 참일 때만 이 조건을 실행해주세요.

In [ ]:
# or
# true true: true
# true false: true
# false true: true
# false false: false

# if 조건1 or 조건2:
#  -> 둘 중 하나라도 참이면 이 조건을 실행해주세요.

In [ ]:
# not
# true -> false
# false -> true

# 유저의 정보가 있을 때, input 조건에 있지 않으면 -> 로그인 불가
# if not 조건1:
#  -> 조건이 충족되지 않을 때

#### 비트연산자

- !! 이진수 진법을 먼저 공부하시고
- !! 비트연산 다시 공부해보세요~!

---

- 비트(bit) 단위로 (논리)연산을 할 때 사용

- 2진수
- 0 0 0 0 1 1 1 1
- 0 0 0 1 0 1 0 1

- &(and), |(or), ^(xor), ~(not)
- >>(오른쪽으로 shift), <<(왼쪽으로 shift)
- 0 0 0 0 1 1 1 1
- >> 2
- 1 1 0 0 0 0 1 1

In [ ]:
# and -> &
# 0: false, 1: true

'''
1) 0 0 0 0 1 1 1 1
2) 0 0 0 1 0 1 0 1
-------------------
   0 0 0 0 0 1 0 1

'''

In [ ]:
# or -> |
# 0: false, 1: true

'''
1) 0 0 0 0 1 1 1 1
2) 0 0 0 1 0 1 0 1
-------------------
   0 0 0 1 1 1 1 1

'''

In [ ]:
# xor -> ^ : 둘 값이 다를 경우 true
# 0: false, 1: true

'''
1) 0 0 0 0 1 1 1 1
2) 0 0 0 1 0 1 0 1
-------------------
   0 0 0 1 1 0 1 0

'''

In [ ]:
# not -> ~
# 0: false, 1: true

'''
1) 0 0 0 0 1 1 1 1
-------------------
   1 1 1 1 0 0 0 0

'''

### 자주 사용되는 내장함수

- sum(): 합계
- max(), min(): 최대, 최소
- round(): 반올림
- abs(): 절대값

---
- numpy: 파이썬 라이브러리 -> 디테일한 수학적 계산이 가능

In [27]:
abs(-1)

1

In [29]:
round(2.6)

3

In [30]:
round(-2.6)

-3

In [32]:
# 숫자형 함수 중 많이 사용하는 random
import random

In [33]:
# 0과 1사이 랜덤한 숫자를 만들기 -> float
random.random()

0.8351283243383112

In [35]:
# 최소, 최대값 사이에 랜덤한 숫자 만들기 -> float
random.uniform(1, 10)

8.04484783942162

In [36]:
# 최소, 최대값 사이에 랜덤한 숫자 만들기 -> int
random.randint(1, 10)

2

## 문자형

- "", ''
- 순서가 있는 시퀀스 자료형
 - 시퀀스 자료형: Index(인덱스)
 - 인덱스: 인덱싱, 슬라이싱 가능

In [37]:
# 문자열 선언
a = 'hello'

In [38]:
# 인덱싱
a[0]

'h'

In [40]:
# 슬라이싱
a[0:3]

'hel'

In [41]:
# 인덱싱을 활용하기
# 인덱싱을 이용하는 함수를 사용할 수 있다.
# index

a.index('l')

2

#### 문자열 포맷팅

- % 포맷팅
- format 함수
- f-string

In [42]:
# % 포맷팅
# %d: 정수, %f: 실수, %s: 문자열

n = 10
print("%d" % n)

10

In [45]:
# format 함수

print("파이는 {0}.{1}".format(3, 14))

파이는 3.14

In [46]:
# f-string
# python 3.6 이상
# 다른 파이썬 버전에서 사용하면 안됩니다.

num = 1
print(f'오르미 {num}기 입니다.')

오르미 1기 입니다.

#### 이스케이프 문자

- \n: 엔터(개행)
- \t: 탭
- \': 작은 따옴표
- \": 큰 따옴표
- \b: 백 스페이스
- \\\ : 역슬러시 표현

여러 줄 내용을 하나의 변수에 표시할 때
'나는 "안녕하세요 '라고 생각했다.' "라고 말했다.'
"안녕하세요 \n 반갑습니다."

#### 내장 함수

- count(): 안에 있는 문자 갯수 세기
- strip(): 양쪽 공백, 특정 문자를 제거
- replace(): 어떤 문자를 원하는 문자로 바꿔줄 때
- split(): 특정 기준으로 문자열을 쪼개줄 때
- join(): 문자열을 합쳐줄 때

In [ ]:
# 1 ~ 10000 까지 있을 때 8이 몇 개 있는가
# for if 8 count+ / "".count('8')

## 불리언

숫자형 연산 부분을 참고해주세요.

# 자료구조

- 리스트, 튜플, 딕셔너리, 셋

## 리스트 (배열)

- 순서를 가진 시퀀스(sequece)형 -> ...
- list_a = []
- 값 변경이 가능

In [47]:
# 리스트 선언
list_a = [1, 2, 3]

In [48]:
# 인덱싱
list_a[0]

1

In [49]:
# 슬라이싱
list_a[0:2]

[1, 2]

### 사칙 연산

In [50]:
list_a = [1, 2, 3] # -> [2, 4, 6]

list_a = list_a + list_a

In [51]:
print(list_a)

[1, 2, 3, 1, 2, 3]

In [ ]:
### for 문을 순회하면서 더하기

# 추가: numpy
# 1차원 2차원 3차원 ...
# 다차원 배열 계산에 강점 -> [] + []

In [52]:
list_a + 3

# 크기가 맞지 않습니다. -> for문 순회로 각각을 더해주어야 합니다.

TypeError: ignored

In [53]:
list_a + [3]

[1, 2, 3, 1, 2, 3, 3]

In [55]:
list_a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [56]:
list_a * [3]

# 크기가 맞지 않습니다.

TypeError: ignored

In [57]:
# list_a + list_a -> [][]
# list_a + [3]
# append

li = [1, 2]

li.append(3)
print(li)

[1, 2, 3]

In [59]:
# 값 지우기
# .clear()

li.clear()

In [60]:
print(li)

[]

In [61]:
a = [1, 2, 3]

b = a
c = b

c[0] = 100

In [62]:
print(a)

[100, 2, 3]

In [63]:
a = [1, 2, 3]

b = a.copy()
c = b.copy()

c[0] = 1000

In [64]:
print(a)
print(b)
print(c)

[1, 2, 3]
[1, 2, 3]
[1000, 2, 3]

In [65]:
# append 하나의 값을 뒤에 추가해줄 때
# extend 여러 값들을 추가할 때

a.extend([4, 5, 6])
print(a)

[1, 2, 3, 4, 5, 6]

In [67]:
a.append(2)
print(a)

[1, 2, 3, 4, 5, 6, 2]